/* General */

* {
    margin: 0px;
    padding: 0px;
}

html {
    background-color: #dae1ef;
}

body {
    width: 70vw;
    margin: auto;
    background-color: #edeff2;
}

h1, h4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    margin: auto;
}

/* Form */

#calculate__interest__form {
    margin: auto;
    border: 3px solid #a0b6db;
    width: 50%;
    text-align: center;
}

#calculate__interest__form input {
    margin-bottom: 2rem;
}

.calculate__interest__form__input__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    width: 90%;
    padding-top: 2rem;
}

.calculate__interest__form__submit {
    padding: 1rem;
    background-color: #abbcd8;
}

.calculate__interest__form__submit:hover {
    background-color: #879dc1;
}

/* Result */ 

#result {
    font-size: 4rem;
}

/* Media */

@media only screen and (max-width: 1400px) {
    body {
        width: 100vw;
    }
}

@media only screen and (max-width: 1000px) {
    #calculate__interest__form {
        width: 80%;
    }
}